@import url("../bootstrap/css/bootstrap.min.css");

body {
	background-color: #000000;
	background-size: cover;
}

div#mainbar {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
    height: auto;
    min-height: 60px;

}

a:hover {
    text-decoration: none;
}

div#mainbar a {
		color: #ffffff;
		display: block;
}

div#mainbar a:hover {
		text-decoration: underline;
		border-bottom: red;
}

div#middle_menu a {
    color: red;
}



li a {
	color: #ffffff

}


.whitetextright {
	padding-top: 160px;
	margin-top: 3px;
	display: block;

}

body {
	background-image: url("../images/chicago_background.jpg");

}


